h1 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top:16px;
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
}

.create-btn {
  background: var(--gradient-primary);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: var(--radius-md);
  font-weight: 500;
  box-shadow: var(--shadow-md);
  transition: var(--transition);
}

.create-btn:hover {
  transform: translateY(-1px);
  box-shadow: var(--shadow-lg);
}


.drawer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 420px;
  background: var(--white);
  box-shadow: var(--shadow-lg);
  transform: translateX(100%);
  transition: var(--transition);
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.drawer.open {
  transform: translateX(0);
}

.drawer-header {
  padding: 16px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 90;
}
