.app-header {
  position: fixed;
  top: 0;
  left: var(--sidebar-width);
  right: 0;

  height: var(--app-header-height);
  background: var(--white);

  border-bottom: 1px solid var(--border-color);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;
  z-index: 10;
}


.logo {
  font-size: 18px;
  font-weight: 700;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.username {
  font-size: 14px;
  color: var(--gray-dark);
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  background: var(--gradient-primary);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
}
